
# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
fastapi[all]
gunicorn
asgiref
attrs
bcrypt
certifi
cffi
click
colorama
dnspython
durationpy
email-validator
fastapi-jwt-auth
fastapi-login
h11
idna
python-jose[cryptography]
mongoengine
motor
mypy-extensions
odmantic
passlib
pycparser
pydantic
PyJWT
pymongo
pyrsistent
python-multipart
six
starlette
typing-extensions
uvicorn
wincertstore
wrapt
